[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "exuber"]
	path = exuber
	url = https://github.com/kvasilopoulos/exuber
[submodule "ihpdr"]
	path = ihpdr
	url = https://github.com/kvasilopoulos/ihpdr
[submodule "ivx"]
	path = ivx
	url = https://github.com/kvasilopoulos/ivx
[submodule "onsr"]
	path = onsr
	url = https://github.com/kvasilopoulos/onsr
[submodule "transx"]
	path = transx
	url = https://github.com/kvasilopoulos/transx
[submodule "uklr"]
	path = uklr
	url = https://github.com/kvasilopoulos/uklr
